<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" id="{{elementId}}" #modalContainer>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
            </div>
            <div class="modal-body">
                <ng-content>

                </ng-content>
            </div>
            <div class="modal-footer">
                <button  *ngIf="kapatTitle" type="button" class="btn btn-default" data-dismiss="modal" (click)="kapat()">{{kapatTitle}}</button>
                <button  *ngIf="evetTitle" type="button" class="btn btn-danger" data-dismiss="modal" (click)="tamam()">{{evetTitle}}</button>
            </div>
        </div>
    </div>
</div>